/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 7 февр. 2022 г., 10:45:35
    Author     : a.andreev
*/
thead{
    background-color: #FFF; /* !important;*/
}

#course_id{
    width: 70px;
}
#shortname{
    width: 350px;
}
#tb{
    height: 800px;
    width: 100%;
    overflow-y: scroll !important;
}

.sort{
    color: blue;
    font-size: 20pt
}
.sort:hover{
    cursor: pointer;
}